:root {
  --light: whitesmoke;
  --font: monospace;
}
* {
    box-sizing: border-box;
  }
  
  body {
    background-image:url(https://media.istockphoto.com/id/1341408852/video/colored-smoke-on-a-dark-background-blue-and-red-light-with-smoke.jpg?s=640x640&k=20&c=v2DQUY8IVbli_6FH_9KAs6YWRXlDdYiBJHfp7JFh7NY=);
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  
  .header {
   padding: 10px;
   font-family: var(--font);
   color: var(--light);
  }

  .header h1 {
    display: inline-block;
    font-size: 50px;
  }

  .header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
  }

  .header nav ul li {
    padding-right: 10px;
    padding-top: 15px;
    float: right;
    font-family: var(--font);
    font-size: 25px;
    list-style-type: none;
    color: var(--light);
  }

  a {
    color: var(--light);
    text-decoration: none;
  }

  .headshot {
    margin-left: 25px;
    border: var(--light) solid 5px;
  }

  .about-me {
    display: inline-block;
    width: 100%;
    font-family: var(--font);
    font-size: 20px;
    padding-left: 25px;
    color: var(--light);
  }
  
  .card {
    /* A flex-basis of 200px sets the starting width */
    /* A flex-grow value of 1 allows the elements to evenly grow to fill the remaining space */
    flex: 1 0 200px;
    padding: 10px;
    text-align: center;
    font-family: var(--font);
    color: var(--light);
    border-style: solid;
    border-width: 1px;
  }
  
  .card header {
    padding: 20px;
    background: #13293d;
    color: #fff;
  }
  
  .card.semantic {
    /* The child item with `flex-grow: 2` will grow to take up twice as much remaining space as the others. */
    /* The second value, flex-shrink, defines how the element will shrink if it can't fit */
    flex: 2 1 200px;
  }
  
  .header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
  }