:root {
  --light: whitesmoke;
  --font: monospace;
  --background: #13293d70;
}
* {
    box-sizing: border-box;
  }
  
  /*background image*/
  body {
    background-image:url(https://media.istockphoto.com/id/1341408852/video/colored-smoke-on-a-dark-background-blue-and-red-light-with-smoke.jpg?s=640x640&k=20&c=v2DQUY8IVbli_6FH_9KAs6YWRXlDdYiBJHfp7JFh7NY=);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /*header and navigation styling*/
  .header {
   padding: 10px;
   font-family: var(--font);
   color: var(--light);
   background-color: var(--background);
   border-radius: 70px 0 70px 0;
  }

  .header h1 {
    display: inline-block;
    font-size: 50px;
    background-color: rgba(247, 69, 69, 0.541);
    border-radius: 15px 0 15px 0;
  }

  .header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
  }

  .header nav ul li {
    display: inline-block;
    padding-right: 10px;
    padding-top: 15px;
    font-family: var(--font);
    font-size: 25px;
    list-style-type: none;
    color: var(--light);
  }

  a {
    color: var(--light);
    text-decoration: none;
  }

  /*subtital styling*/
  .subtitle {
    font-family: var(--font);
    color: var(--light);
    font-size: 50px;
    float:right;
    padding: 25px 25px 25px 25px;
    background-color: var(--background);
    border-radius: 50% 0 50% 0;
    
    
  }

  /*styling for about me sections*/
  .headshot {
    margin-left: 50%;
    margin-top: 10px;
    border: var(--light) solid 2px;
  }

  .about-me {
    display: inline-flex;
    width: 25%;
    font-family: var(--font);
    font-size: 30px;
    margin-top: 300px;
    padding-left: 25px;
    color: var(--light);
    
    
  }

  .about-me h2 {
    margin-left: 50%;
  }

  .info {
   display: flex;
   flex-direction: row;
   font-family: var(--font);
   font-size: 20px;
   color: var(--light);
   margin-left: 430px;
   margin-bottom: 100px;
   padding-bottom: 25px;
   padding-top: 25px;
   text-align: justify;
   
  }
  
  #about {
    display: flex;
    flex-direction: row;
  }

  /*styling for work sections*/
  .work-title {
    font-family: var(--font);
    font-size: 30px;
    color: var(--light);
    margin-left: 14%;
  }

  .flexbox {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
  }

  .card {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 420px;
    font-family: var(--font);
    color: var(--light);
    border-style: solid;
    border-width: 2px;
  }
  
  .card h2 {
    display: flex;
    padding: 20px;
    background: var(--background);
    color: var(--light);
  }

  .card p {
    display: flex;
    margin-left: 5px;
  }
/*image of Horiseon website*/
  #refraction {
    display: flex;
    flex: 1 400px;
    background-image: url(https://i.imgur.com/QnAPgwj.jpg);
    background-position: center;
    background-size: cover;
  }
/*image of prework website*/
  #prework {
    display: flex;
    flex: 1 200px;
    background-image: url(https://i.imgur.com/gLUpKQd.png);
  }
/*placeholder image*/
  #next-p {
    display: flex;
    flex: 1 200px;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20200714/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg);
  }
/*placeholder image*/
  #next-p2 {
    display: flex;
    flex: 1 200px;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20200714/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg);
  }

  /*footer styling*/
  footer {
    padding: 30px;
    text-align: center;
    color: var(--light);
    border-right: var(--light) solid 2px;
    
  }
  
  footer p {
    margin: 5px;
    font-size: 20px;
    font-family: var(--font);
  }

  footer h3 {
    text-align: left;
    font-size: 40px;
    margin-left: 12%;
    padding-bottom: 10px;
    font-family: var(--font);
  }